html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.body {
  margin: 0;
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body.modal-open {
  overflow: hidden;
}

.logo {
  display: inline-block;
  color: #212121;
  width: 145px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700px;
  font-style: normal;
  line-height: 1.192;
  margin-right: 93px;
}

@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}

.part-logo {
  color: #2196F3;
}

.header {
  border-bottom: 1px solid #EEEEEE;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--active {
  position: relative;
  color: #2196F3;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.site-nav__link:focus, .site-nav__link:hover {
  color: #2196F3;
}

.auth-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.auth-nav__icon {
  margin-right: 8px;
  text-align: center;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .auth-nav__icon {
    margin-right: 10px;
  }
}

.post {
  display: block;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroi-mob-1.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi-mob-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .post {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroi-mob-2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi-mob-2.jpg");
  }
}

@media screen and (min-width: 481px) {
  .post {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroi-tab-1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi-tab-1.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .post {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroi-tab-2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi-tab-2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .post {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroi-desk-1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi-desk-1.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .post {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroi-desk-2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroi-desk-2.jpg");
  }
}

.post__conteiner {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .post__conteiner {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.post__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .post__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.post__button {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid transparent;
  min-width: 200px;
  padding: 10px 32px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  padding: 40px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: 400;
  font-size: 12px;
}

.form__label {
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
}

.form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox {
  Font-family: Roboto;
  Font-style: 400;
  Font-size: 14px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-bottom: 30px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
  font-weight: 400;
  font-size: 14px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__icon--second {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature {
  padding-top: 94px;
  padding-bottom: 0;
}

.feature__list {
  display: block;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.feature__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.feature__title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  color: #757575;
  font-family: Roboto;
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  margin-top: 10px;
  margin-bottom: 0;
}

.feature__icon-antenna::before {
  background-image: url(../images/icons.svg/antenna.svg);
}

.feature__icon-clock::before {
  background-image: url(../images/icons.svg/clock.svg);
}

.feature__icon-diagram::before {
  background-image: url(../images/icons.svg/diagram.svg);
}

.feature__icon-astronaut::before {
  background-image: url(../images/icons.svg/astronaut.svg);
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.product__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__icon {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
}

.product__text {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 700;
  font-weight: 16px;
  font-style: Bold;
  font-size: 14px;
  line-height: 1.142;
}

.product__img {
  position: relative;
}

.work-nav {
  display: block;
  background: #F5F4FA;
}

.team__list {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: #FFFFFF;
  border-radius: 1px;
  -webkit-box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team__listy {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.142;
  margin-bottom: 0;
}

.team__work {
  margin-top: 10px;
  text-align: center;
  color: #757575;
  font-family: Roboto;
  width: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
}

.team__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  padding: 0 auto;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.team__icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__text {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 0;
  /*outline: 1px solid var(--client-color);*/
  fill: #AFB1B8;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__text:focus, .team__text:hover {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #EEEEEE;
}

.team__images {
  display: block;
  width: 100%;
  height: auto;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.client__team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  padding: 0;
  outline: 1px solid #AFB1B8;
  fill: #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 106px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.client__team:focus, .client__team:hover {
  fill: #2196F3;
  outline: 1px solid #2196F3;
}

@media screen and (max-width: 767px) {
  .conteiner-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .conteiner-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner-footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer {
  background-color: #2F303A;
  text-decoration: none;
  line-height: 1.714;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    line-height: 1.17;
  }
}

@media screen and (max-width: 1199px) {
  .footer-list {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer-list__logo {
  display: inline-block;
  color: #FFFFFF;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.192;
  margin-bottom: 20px;
}

.footer-list__logotip {
  color: #2196F3;
}

.footer-list__text {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.142;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  padding: 0 auto;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover, .footer-list__link:focus {
  background-color: #2196F3;
}

.navigation-list__map {
  display: inline-block;
  color: #FFFFFF;
  font-family: Roboto;
  width: 231px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 0;
}

.navigation-list__add {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 0;
}

.navigation-list li:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscription__label {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  margin-top: 20px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1199px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription__button {
  position: relative;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #2196F3;
  padding-right: 62px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.subscription__button::after {
  position: absolute;
  content: '';
  background-image: url(../images/icons.svg/iconsend.svg);
  width: 24px;
  height: 24px;
  top: 13px;
  right: 28px;
  color: #FFFFFF;
}

.portfolio {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .button-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin: -8px;
  }
}

@media screen and (min-width: 768px) {
  .button-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-text {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.button-text__primary {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px 6px 22px;
  border: 0;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text__primary:hover, .button-text__primary:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .buttons {
    margin-bottom: 40px;
  }
}

.button-text__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button-text__item:first-child {
    margin-bottom: 15px;
  }
}

.comunity {
  display: block;
}

@media screen and (min-width: 768px) {
  .comunity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .comunity__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .comunity__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.comunity__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comunity__card:hover, .comunity__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.comunity__box {
  position: relative;
  overflow: hidden;
}

.comunity__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .comunity__overlay {
    padding: 63px 24px;
  }
}

.comunity__card:hover .cumunity__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: auto;
}

.comunity__card:focus .cumunity__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: auto;
}

.description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.description__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.description__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-toggle {
  min-width: 40px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #2196F3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.js-close-menu:focus, .js-close-menu:hover {
  color: #2196F3;
}

.mobile-nav {
  margin-bottom: 302px;
}

.mobile-nav__list {
  display: block;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link:focus, .mobile-nav__link:hover {
  color: #2196F3;
}

.mobile-nav__link--current {
  color: #2196F3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__list {
  display: block;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-contacts__link--tel {
  font-size: 34px;
  line-height: 1.176;
  color: #2196F3;
}

.mobile-contacts__link--mail {
  font-size: 24px;
  line-height: 1.167;
  color: #757575;
}

.mobile-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -8px;
}

.mobile-social__link {
  display: block;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-social__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */