.client {
    
    
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      
    

    &__team {
        position: relative;
        display: flex;
        
        height: 92px;
        padding: 0;
        outline: 1px solid $client-color;
        fill: $client-color;
        justify-content:center;
        text-align: center;
        align-items: center;
        border-radius: 2px;
        transition-property: fill;
        transition: transform 1000ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

&__icon {
    display: flex;
    justify-content:center;
    text-align: center;
    width: 106px;
    height: 60px;}

&__item{
    @media screen and (max-width: 767px) {
      flex-basis: calc((100% - 60px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 90px) / 3);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 180px) / 6);
      margin: 15px;
    }
    
  }
    

    
&__team:focus, &__team:hover {
    fill: $pretty-color;
    outline: 1px solid $pretty-color;  
}
}