.logo {
    display: inline-block;
    color: $black-color;
    width: 145px;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700px;
    font-style: normal;
    line-height: 1.192;
    margin-right: 93px;
    
    
}
.part-logo {
    color: $pretty-color;
}