.post {
    
       display: block;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        background-color: $while-color;
        background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
          url('../images/heroi-mob-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
            url('../images/heroi-mob-2.jpg');
        }
        @media screen and (min-width: 481px) {
          background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
            url('../images/heroi-tab-1.jpg');
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
              url('../images/heroi-tab-2.jpg');
          }
        }
        @media screen and (min-width: 1200px) {
          background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
            url('../images/heroi-desk-1.jpg');
          max-width: 1600px;
          height: 600px;
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
              url('../images/heroi-desk-2.jpg');
          }
        }
    
    
    
    
    &__conteiner {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  &__title {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $while-color;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

&__button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: 0px solid transparent;
    min-width: 200px;
    padding: 10px 32px;
    color: $while-color;
    background-color: $pretty-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}


