.section__title {
  
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    color: $black-color;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.167;
    }
  }
  .our-work {
    @media screen and (max-width: 1199px)
     {
        display: none;
    }
  }
.product {
&__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}


&__icon {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
   
    bottom: 0;
    left: 0;
}
&__text {
    color: $while-color;
    font-family: Roboto;
    font-weight: 700;
    font-weight: 16px;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.142;
}
&__img {
position: relative;
}
}