
$pretty-color: #2196F3;
$table-color: #EEEEEE;
$while-color: #FFFFFF;
$black-color: #212121;
$active-color: #757575;
$strong-color: #2F303A;
$work-color: #F5F4FA;
$portfolio-color: #E5E5E5;
$none-color: rgba(0, 0, 0, 0);
$add-color: rgba(255, 255, 255, 0.6);
$client-color: #AFB1B8;
 



